<div class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-th"></span></a>
        </div>
        <div>
            <!--向左对齐-->
            <ul class="nav navbar-nav navbar-left">
                <li class="dropdown active">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                        基础资料
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li ><a href="#">jmeter</a></li>
                        <li><a href="#">EJB</a></li>
                        <li class="active"><a href="#">Jasper Report</a></li>
                        <li class="divider"></li>
                        <li><a href="#">分离的链接</a></li>
                        <li class="divider"></li>
                        <li><a href="#">另一个分离的链接</a></li>
                    </ul>
                </li>
                <li class="">
                    <a href="#">系统管理</a>
                </li>
                <li class="active">
                    <a href="#">商品管理</a>
                </li>
            </ul>
        </div>
    </div>
</div>