<!--<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"-->
        <!--"http://www.w3.org/TR/html4/loose.dtd">-->
<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org"  >
<head>
    <title>后台管理系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <!--[if lt IE 8]>
    <script>
        alert("您在使用IE低版本浏览器，请使用IE8及以上或者谷歌、360浏览器将会会获得更好的体验");
        window.location.href = "http://browser.qq.com/";
    </script>
    <![endif]-->
    <link rel="stylesheet" href="../../assets/lib/bootstrap/css/bootstrap.min.css">
    <!--媒体查询兼容脚本要在css之后引入-->
    <!--[if lt IE 9]>
    <script src="../../assets/lib/html5shiv.min.js"></script>
    <script src="../../assets/lib/respond.min.js"></script>
    <script >
        document.createElement('page-head');
//        document.createElement('ng-pluralize');
//        document.createElement('ng-view');
    </script>

    <![endif]-->
    <script src="../../assets/lib/angular-all-jquery.min.js"></script>
    <script src="../../assets/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../assets/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="../../assets/lib/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="../../assets/lib/bootstrap-treeview.js"></script>
    <script src="../../assets/lib/placeholder/2.3.1/jquery.placeholder.min.js"></script>
    <link rel="stylesheet" href="../../assets/lib/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="../../assets/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../assets/css/index.css">
    <style>
    </style>
</head>
<body ng-app="app" id="register" ng-cloak>
    <div ng-controller="register_controller" >
        <div class="content_content clearfix">
            <div class="content">
                <b>请完成以下信息的填写</b>
                <div class="form clearfix" style="border: 1px solid #eee;padding-top: 20px;">
                    <form id="myForm" class="form-horizontal " role="form" novalidate name="myForm">
                        <div class="form-group has-feedback">
                            <label for="username" class="col-sm-3 control-label">公司名称</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="username" required name="name" placeholder="请输入公司名称" required ng-model="form.username">
                                <span style="color: #d70c19" ng-show="!myForm.name.$dirty || !myForm.name.$valid">必填!</span>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label for="email" class="col-sm-3 control-label">邮箱</label>
                            <div class="col-sm-5">
                                <input type="email" class="form-control" name="email" required id="email" placeholder="请输入邮箱" required ng-model="form.mail">
                                <span style="color: #d70c19" class="" ng-show="myForm.email.$error.required">必填!</span>
                                <span style="color: #d70c19" class="" ng-show="myForm.email.$error.email">格式不正确!</span>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label for="password" class="col-sm-3 control-label">密码</label>
                            <div class="col-sm-5">
                                <input type="password" name="password" class="form-control" ng-minlength="6" id="password" placeholder="请输入密码" required ng-model="form.password">
                                <span class="glyphicon glyphicon-ok form-control-feedback"
                                      ng-show="myForm.password.$dirty && myForm.password.$valid"></span>
                                <span style="color: #d70c19" class="" ng-show="myForm.password.$error.required">必填!</span>
                                <span style="color: #d70c19" class="" ng-show="!myForm.password.$valid &&!myForm.password.$error.required">最小长度不能小于6!</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phone" class="col-sm-3 control-label">电话号码</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="phone" ng-pattern="/^1[3|7|4|5|8]{1}[0-9]{9}$/" id="phone" placeholder="请输入电话号码" required ng-model="form.phone">
                                <span style="color: #d70c19" ng-show="!myForm.phone.$valid">请填写正确的手机号码!</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <a type="button"  class="btn btn-default" ng-click="submit(myForm.$valid)">完成</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div filter-form></div>
        </div>
    </div>
</body>
<script src="../../assets/lib/quicker-origin.js"></script>
<script src="../../assets/js/common/common.js"></script>
<script src="../../assets/components/common/head.js"></script>
<script src="../../assets/components/common/menu.js"></script>
<script src="../../assets/components/common/foot.js"></script>
<script src="../../assets/components/common/content_head.js"></script>
<script src="../../assets/components/common/filter_form.js"></script>
<script src="../../assets/js/controler/login/register.js"></script>
</html>