<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>后台管理系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <!--[if lt IE 8]>
    <script>
        alert("您在使用IE低版本浏览器，请使用IE8及以上或者谷歌、360浏览器将会会获得更好的体验");
        window.location.href = "http://rj.baidu.com/soft/detail/14744.html";
    </script>
    <![endif]-->
    <link rel="stylesheet" href="../../assets/lib/bootstrap/css/bootstrap.min.css">
    <!--媒体查询兼容脚本要在css之后引入-->
    <!--[if lt IE 9]>
    <script src="../../assets/lib/html5shiv.min.js"></script>
    <script src="../../assets/lib/respond.min.js"></script>
    <![endif]-->
    <script src="../../assets/lib/angular-all-jquery.min.js"></script>
    <script src="../../assets/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../assets/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="../../assets/lib/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="../../assets/lib/bootstrap-treeview.js"></script>
    <script src="../../assets/lib/placeholder/2.3.1/jquery.placeholder.min.js"></script>
    <link rel="stylesheet" href="../../assets/lib/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="../../assets/css/index.css">
</head>
<body ng-app="app" >
    <div head ><b>scsaaa</b></div>
    <div menu></div>
    <div ng-controller="index_controller">
        <div class="content_head clearfix">
            <div class="content_head_title">
                <div class="icon_area"><span class="glyphicon glyphicon-th"></span></div>
                <div class="text_title">
                    <p>撒上点萨达</p>
                </div>
                <div class="fr">
                    <a type="button" class="btn btn-primary btn-sm" href="javascript:;">筛选条件</a>
                </div>
            </div>
        </div>
        <div class="content_content">
            <b>日期选择</b>
            <form class="form-horizontal " role="form">
                <div class="form-group">
                    <label for="firstname" class="col-sm-2 control-label">日期</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="firstname" placeholder="请输入名字" ng-model="date" readonly>{{date}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastname" class="col-sm-2 control-label">姓</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="lastname" placeholder="请输入姓">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-5">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox">请记住我
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">登录</button>
                    </div>
                </div>
            </form>
            <b>树形选择插件</b>
            <div id="tree"></div>
        </div>
    </div>
    <div foot></div>
</body>
<script src="../../assets/lib/quicker-origin.js"></script>
<script src="../../assets/js/common/common.js"></script>
<script src="../../assets/components/common/head.js"></script>
<script src="../../assets/components/common/menu.js"></script>
<script src="../../assets/components/common/foot.js"></script>
<script src="../../assets/js/index/index.js"></script>
</html>