//常用类
@import "../mixin/index";

// float
// -----------------------------------------------------------------------------

.fl {
  float: left
}

.fr {
  float: right
}

.nf {
  float: none
}

.none{display: none;}

// direction
// -----------------------------------------------------------------------------

.tc {
  text-align: center
}

.tr {
  text-align: right
}

.tl {
  text-align: left
}

.vat {
  vertical-align: top
}

.vam {
  vertical-align: middle
}

.vab {
  vertical-align: bottom
}



// size
// -----------------------------------------------------------------------------


.f10 {
  font-size: 10px
}

.f12 {
  font-size: 12px
}

.f13 {
  font-size: 13px
}

.f14 {
  font-size: 14px
}

.f16 {
  font-size: 16px
}

.f18 {
  font-size: 18px
}

.f20 {
  font-size: 20px
}

.f24 {
  font-size: 24px
}

.mgt {
  margin-top: 1em
}

.mgb {
  margin-bottom: 1em
}

.m0 {
  margin: 0
}

.mt0 {
  margin-top: 0
}

.ml0 {
  margin-left: 0
}

.mr0 {
  margin-right: 0
}

.mb0 {
  margin-bottom: 0px
}

.m5 {
  margin: 5px
}

.mt5 {
  margin-top: 5px
}

.ml5 {
  margin-left: 5px
}

.mr5 {
  margin-right: 5px
}

.mb5 {
  margin-bottom: 5px
}

.m10 {
  margin: 10px
}

.mt10 {
  margin-top: 10px
}

.ml10 {
  margin-left: 10px
}

.mr10 {
  margin-right: 10px
}

.mb10 {
  margin-bottom: 10px
}

.m15 {
  margin: 15px
}

.mt15 {
  margin-top: 15px
}

.ml15 {
  margin-left: 15px
}

.mr15 {
  margin-right: 15px
}

.mb15 {
  margin-bottom: 15px
}

.m20 {
  margin: 20px
}

.mt20 {
  margin-top: 20px
}

.ml20 {
  margin-left: 20px
}

.mr20 {
  margin-right: 20px
}

.mb20 {
  margin-bottom: 20px
}

.m25 {
  margin: 25px
}

.mt25 {
  margin-top: 25px
}

.ml25 {
  margin-left: 25px
}

.mr25 {
  margin-right: 25px
}

.mb25 {
  margin-bottom: 25px
}

.m30 {
  margin: 30px
}

.mt30 {
  margin-top: 30px
}

.ml30 {
  margin-left: 30px
}

.mr30 {
  margin-right: 30px
}

.mb30 {
  margin-bottom: 30px
}

.m35 {
  margin: 35px
}

.mt35 {
  margin-top: 35px
}

.ml35 {
  margin-left: 35px
}

.mr35 {
  margin-right: 35px
}

.mb35 {
  margin-bottom: 35px
}

.m40 {
  margin: 40px
}

.mt40 {
  margin-top: 40px
}

.ml40 {
  margin-left: 40px
}

.mr40 {
  margin-right: 40px
}

.mb40 {
  margin-bottom: 40px
}

.m45 {
  margin: 45px
}

.mt45 {
  margin-top: 45px
}

.ml45 {
  margin-left: 45px
}

.mr45 {
  margin-right: 45px
}

.mb45 {
  margin-bottom: 45px
}

.m50 {
  margin: 50px
}

.mt50 {
  margin-top: 50px
}

.ml50 {
  margin-left: 50px
}

.mr50 {
  margin-right: 50px
}

.mb50 {
  margin-bottom: 50px
}

.mt60 {
  margin-top: 60px;
}
.mb60 {
  margin-bottom: 60px;
}
.p0 {
  padding: 0
}

.pt0 {
  padding-top: 0
}

.pl0 {
  padding-left: 0
}

.pr0 {
  padding-right: 0
}

.pb0 {
  padding-bottom: 0
}

.p5 {
  padding: 5px
}

.pt5 {
  padding-top: 5px
}

.pl5 {
  padding-left: 5px
}

.pr5 {
  padding-right: 5px
}

.pb5 {
  padding-bottom: 5px
}

.p10 {
  padding: 10px
}

.pt10 {
  padding-top: 10px
}

.pl10 {
  padding-left: 10px
}

.pr10 {
  padding-right: 10px
}

.pb10 {
  padding-bottom: 10px
}

.p15 {
  padding: 15px
}

.pt15 {
  padding-top: 15px
}

.pl15 {
  padding-left: 15px
}

.pr15 {
  padding-right: 15px
}

.pb15 {
  padding-bottom: 15px
}

.p20 {
  padding: 20px
}

.pt20 {
  padding-top: 20px
}

.pl20 {
  padding-left: 20px
}

.pr20 {
  padding-right: 20px
}

.pb20 {
  padding-bottom: 20px
}

.p25 {
  padding: 25px
}

.pt25 {
  padding-top: 25px
}

.pl25 {
  padding-left: 25px
}

.pr25 {
  padding-right: 25px
}

.pb25 {
  padding-bottom: 25px
}

.p30 {
  padding: 30px
}

.pt30 {
  padding-top: 30px
}

.pl30 {
  padding-left: 30px
}

.pr30 {
  padding-right: 30px
}

.pb30 {
  padding-bottom: 30px
}

.p35 {
  padding: 35px
}

.pt35 {
  padding-top: 35px
}

.pl35 {
  padding-left: 35px
}

.pr35 {
  padding-right: 35px
}

.pb35 {
  padding-bottom: 35px
}

.p40 {
  padding: 40px
}

.pt40 {
  padding-top: 40px
}

.pl40 {
  padding-left: 40px
}

.pr40 {
  padding-right: 40px
}

.pb40 {
  padding-bottom: 40px
}

.p45 {
  padding: 45px
}

.pt45 {
  padding-top: 45px
}

.pl45 {
  padding-left: 45px
}

.pr45 {
  padding-right: 45px
}

.pb45 {
  padding-bottom: 45px
}

.p50 {
  padding: 50px
}

.pt50 {
  padding-top: 50px
}

.pl50 {
  padding-left: 50px
}

.pr50 {
  padding-right: 50px
}

.pb50 {
  padding-bottom: 50px
}

.pt60 {
  padding-top: 60px;
}

.pb60 {
  padding-bottom: 60px;
}

.ls1{letter-spacing: 1px}
.ls2{letter-spacing: 2px}
.ls3{letter-spacing: 3px}
.ls4{letter-spacing: 4px}
.ls5{letter-spacing: 5px}

// position
// -----------------------------------------------------------------------------


.rel {
  position: relative;
}

.abs {
  position: absolute;
}

.fix {
  position: fixed;
}



// box-sizing
// -----------------------------------------------------------------------------


.border-box {
  @include box-sizing(border-box);
}

.content-box {
  @include box-sizing(content-box);
}


// color
// -----------------------------------------------------------------------------

.c3 {
  color: #333;
}

.c6 {
  color: #666;
}

.c9 {
  color: #999;
}

.cf {
  color: #fff;
}

.bgf {
  background-color: #fff;
}


// show hide
// -----------------------------------------------------------------------------

.block,
.show {
  @include display(block);
}

.inline-block {
  @include display(inline-block);
}
.table_cell{
  @include display(table-cell);
  vertical-align: middle;
}
.hide {
  @include display(none);
}


//
// -----------------------------------------------------------------------------

.ofh {
  overflow: hidden;
}

.center-img {
  @include center-img;
}

.font-bold {
  font-weight: bold;
}

.text-overflow {
  @include text-overflow;
}

.gray-filter {
  @include gray-filter;
}

.important {
  color: $global-primary;
}

.clearfix {
  @include clearfix;
}

.center-block {
  @include center-block;
}

.text-hide {
  @include hide-text;
}


.in-flex {
  @include in-flex();
}

.in-bg {
  background-color: $gray-background;
}


.in-divider {
  margin-bottom: $global-spacing;
}


.in-btn-primary {
  @include in-btn-primary( #fff, $global-primary, $assertive);
}

.in-button-highlight {
  @include  in-btn-hightlight( solid, 1px, $global-primary );
}

.in-btn-default {
  @include in-button( 3px 5px );
}

.in-border-bottom {
  border-bottom: 1px solid $global-border;
}

.border {
  border: 1px solid $global-border;
}

.btn-block {
  display: block;
  width: 100%;
}

[v-cloak],[ng-cloak] {
  display: none;
}